/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .carousel-custom-caption {
        /* first way */
        /* width: 360px;
        margin: 0 auto;
        text-align: center; */
        /* secound way */
        width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-left: -32px;
    }

    .carousel-custom-caption h5 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
    }

    .carousel-custom-caption p {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        padding: 0 5px;
        opacity: 90%;
    }

    .top-wedding-bannar {
        width: 100%;
        margin: 0 auto;
        padding: 8px;
    }

    .top-wedding-bannar img {
        width: 100%;
    }

    .top-wedding-info {
        text-align: center;
    }

    .top-wedding-info h2 {
        font-size: 19px;
        line-height: 30px;
    }

    .top-wedding-info p {
        font-size: 15px;
        line-height: 28px;
        padding: 10px 10px;
        text-align: justify;
    }

    .top-wedding-info .button {
        width: 60%;
        margin: 0 auto;
    }

    /* our package */

    .our-package {
        margin-bottom: 60px;
    }

    .package-heading {
        margin-bottom: 20px;
    }

    .package {
        margin-left: 10px;
        margin-top: 50px;
    }

    .package:last-child {}

    .package p {
        margin-right: 60px;
    }

    .package-focus {
        position: relative;
        width: 292px;
        height: 440px;
        left: 30px;
        top: 10px;
        margin-bottom: 20px;
    }

    /* happy-clients */
    .happy-clients-heading {
        margin-bottom: 50px;
        font-size: 19px;
        line-height: 28px;
    }

    .happy-clients {
        margin-bottom: 80px;
    }

    .happy-clients-item {
        background: #FFFFFF;
        box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.13);
        border-radius: 5px;
        padding: 20px 30px;
        margin-left: 20px;
        margin-bottom: 25px;
        margin-right: 20px;
    }







    /* Frequently Asked Questions */
    .frequently-heading {
        margin-bottom: 80px;
        font-size: 20px;
    }

    .frequently-container {
        margin-bottom: 100px;
    }

    .frequently-accordions {
        width: 100%;
        margin: 0 10px 50px 10px;
    }

    .frequently-bannar {
        width: 100%;
        text-align: center;
    }

    .frequently-bannar img {
        width: 100%;
    }











}