/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* custom header li and a style*/
.custom-list-item li {
    margin-right: 1.5rem;
}

.custom-list-item li:hover {
    background-color: cornflowerblue;
    border-radius: 15px;
}


.custom-list-item li a {
    color: #3E3E3E;
    font-size: 1.2rem;
    font-weight: 500;
}

.custom-list-item li a:hover {
    color: linen
}

/* header bottom */
header {
    margin-bottom: 100px;
}

/* carousel */
.custom-carousel-item {
    height: 32rem;
    background-color: #777;
    color: white;
    position: relative;
}

.overlay-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.50;
}

/* carousel-custom-caption */
.carousel-custom-caption {
    /* first way */
    width: 640px;
    margin: 0 auto;
    text-align: center;
    /* secound way */
    /* width: 45%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid red; */
}

.carousel-custom-caption h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
}

.carousel-custom-caption p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding: 0 90px;
    opacity: 60%;
}



/* top-wedding code */

.top-wedding {
    margin-bottom: 100px;
}

.top-wedding-bannar {}

.top-wedding-bannar img {}

.top-wedding-info {}

.top-wedding-info h2 {
    color: #0A0826;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
}

.top-wedding-info p {
    color: #6C6C6C;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    padding-right: 140px;
}

/* our package */

/* check-mark-circle-style here  */
.check-mark-circle {
    list-style-type: none;
}

.check-mark-circle>li {
    /* for icons */
    background-repeat: no-repeat;
    padding-left: 25px;
    margin: 10px -32px;
    background-size: 16px;
    /* for font */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.our-package {
    /* margin-bottom: 100px; */
}

.package-heading {
    margin-bottom: 150px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    text-align: center;
    text-transform: capitalize;
    color: #0A0826;
}

.package h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #231D4F;
}

.package h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #231D4F;
}

.package p {
    margin-right: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #848199;
}

.package button {
    background: #f5dfed;
    mix-blend-mode: normal;
    /* opacity: 0.1; */
    border-radius: 24px;
}

.package-focus {
    color: white;
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    position: relative;
    width: 292px;
    height: 440px;
    left: -40px;
    top: -80px;
}

/* Happy Clients says */
.happy-clients-heading {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    color: #0A0826;
}